apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: demo-worker
  namespace: demo
  labels:
    release: prometheus
spec:
  selector:
    matchLabels:
      app: demo-worker
  endpoints:
    - port: http
      path: /metrics
      interval: 15s
      scheme: http
      honorLabels: true
