apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-worker
  namespace: demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: demo-worker
  template:
    metadata:
      labels:
        app: demo-worker
    spec:
      containers:
        - name: demo-worker
          image: demo-worker:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 80
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "200m"
              memory: "256Mi"

---
apiVersion: v1
kind: Service
metadata:
  name: demo-worker
  namespace: demo
  labels:
    app: demo-worker
spec:
  selector:
    app: demo-worker
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 80
